.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    .man{
        &.vs{
            visibility: hidden;
        }
    }
    .div{
        text-align: center;
        visibility: hidden;
        transition: 1s;
        opacity: 0;
        &.show{
            visibility: visible;
            opacity: 1;
        }
        h2{
            text-transform: uppercase;
            margin-bottom: 20px;
            &::after{
                content: ':';
                margin: 3px;
            }
        }
        h1{
            margin-bottom: 50px;
            font-size: 150px;
        }
        button{
            margin: 0 20px;
            padding: 20px;
            border: none;
            background: #333;
            color: #ddd;
            cursor: pointer;
            border-radius: 20px;
            &:active{
                color: #333;
            }
        }
        .plus{
            background: rgb(4, 195, 4);
        }
        .minus{
            background: red;
        }
    }
}